.photo-card__image {
  width: 100%;
  height: 78.116%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  background-color: #545454;
  color: #fff;
}

.photo-card__image:hover {
  cursor: pointer;
}
