.photo-card__btn-remove {
  border: none;
  padding: 0;
  background-color: initial;
  width: 18px;
  height: 20px;
  background-image: url(../../../images/photo-card/button-remove-card.svg);
  background-size: contain;
  transition: transform .5s ease, opacity .5s ease;
  position: absolute;
  top: 18px;
  right: 15px;
}

.photo-card__btn-remove:hover {
  transform: scale(1.2);
  opacity: .6;
  cursor: pointer;
}

.photo-card__btn-remove:focus {
  outline: none;
}
